.o-base-width {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
.o-spaceing {
    padding: 0 40px;
    box-sizing: border-box;
}
.o-section2-padding {
    padding-bottom: 180px;
}
.o-s1-padding {
    padding: 8em;

    color: #1b1c1b;
}
.o-s1-h1style {
    font-size: 22px;
    font-weight: 800;
    line-height: 35px;
}
.o-s1-pstyle {
    padding-top: 2em;

    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.o-width {
    width: 100%;
}
.o-bold {
    font-size: 2.5em;
    font-weight: 800;

    letter-spacing: 1px;
    text-transform: uppercase;
}
.o-sk {
    padding-bottom: 0;
    padding-left: 50px;
}
.o-padding {
    padding-bottom: 100px;
}
.o-section-padding {
    padding: 100px 0;
}
